/* You can add global styles to this file, and also import other style files */

// Remove borders from the page
body {
    margin: 0;
}

html {
    background-color: #f0f2f1;
    font-family: Bahnschrift, serif;
}
