<div id="dashboard">
    <div id="menu">
        <div id="pageIcon">
            <img (click)="companyIcon()" src="assets/logo.png" alt="">
        </div>
        <hr>
        <div id="redirects">
            <div id="gameName">Games</div>
            <ul>
                <li (click)="blackjack()"><img src="assets/blackjack.png" alt=""><a href="">Blackjack</a></li>
                <li (click)="poker()"><img src="assets/poker.png" alt=""><a href="">Poker</a></li>
                <li (click)="roulette()"><img src="assets/roulette.png" alt=""><a href="">Roulette</a></li>
                <li (click)="slots()"><img src="assets/slots.png" alt=""><a href="">Slots</a></li>
                <li (click)="horse()"><img src="assets/horse.png" alt=""><a href="">Horse Race</a></li>
            </ul>
        </div>
        <hr>
        <div id="operations">
            <ul>
                <li (click)="logout()"><img alt="" src="assets/logOut.png"><a href="">log out</a></li>
                <li (click)="login()"><img alt="" src="assets/logIn.png"><a href="">login</a></li>
            </ul>
        </div>
    </div>
    <div id="overview">
        <div id="header">
            <div id="headerText">
                <div>Overview</div>
            </div>
            <div id="accountIcon">
                <img (click)="userIcon()" src="assets/user.png" alt="">
            </div>
        </div>
        <div id="content">
            <div id="accountBalance">
                <div id="moneyAmount">
                    <div>Current Balance:</div>
                    <div id="balance">{{user.money/100 |number:'1.2-2'}}€</div>
                </div>
                <hr>
                <div id="profitCurve">
                    <canvas id="chart"></canvas>
                </div>
            </div>
            <div id="history">
                <div id="historyContent">
                    <ul>
                        <li *ngFor="let history of histories.reverse()">
                            <game-history [history]="history"></game-history>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
