<div id="loginContainer">

    <!--    <div id="selection">-->

    <!--        <input type="radio" class="radioButtons" id="login" checked>-->
    <!--        <input type="radio" class="radioButtons" id="signup">-->
    <!--        <label for="login" class="radioButtons login">Login</label>-->
    <!--        <label for="signup" class="radioButtons signup">Signup</label>-->
    <!--        <div class="slider-tab"></div>-->

    <!--    </div>-->

    <div id="formWrapper">

        <h1 class="header" *ngIf="login else signupHeader">Login</h1>
        <ng-template #signupHeader>
            <h1 class="header">Sign Up</h1>
        </ng-template>

        <div id="selectionWrapper">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked (click)="changeLogin(true)">
                <input type="radio" name="slide" id="signup" (click)="changeLogin(false)">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
            </div>
        </div>


        <form *ngIf="!login else registerTemplate" [formGroup]="registerForm" (ngSubmit)="logInSignUp()" class="forms">
            <div class="formElement">
                <label for="username">Username</label>
                <input class="form-control" id="username" formControlName="username" placeholder="Username">
                <div *ngIf="getRegisterUsername?.invalid && getRegisterUsername?.touched">
                    <div *ngIf="getRegisterUsername?.value === ''" class="alert alert-danger">Username must be set!</div>
                </div>
            </div>
            <div class="formElement">
                <label for="first_name">Firstname</label>
                <input class="form-control" id="first_name" formControlName="firstName" placeholder="Firstname">
                <div *ngIf="getRegisterFirstname?.invalid && getRegisterFirstname?.touched">
                    <div *ngIf="getRegisterFirstname?.value === ''" class="alert alert-danger">Firstname must be set!</div>
                </div>
            </div>
            <div class="formElement">
                <label for="last_name">Lastname</label>
                <input class="form-control" id="last_name" formControlName="lastName" placeholder="Lastname">
                <div *ngIf="getRegisterLastname?.invalid && getRegisterLastname?.touched">
                    <div *ngIf="getRegisterLastname?.value === ''" class="alert alert-danger">Lastname must be set!</div>
                </div>
            </div>
            <div class="formElement">
                <label for="e_mail">E-Mail</label>
                <input class="form-control" id="e_mail" formControlName="eMail" placeholder="E-Mail">
                <div *ngIf="getRegisterEmail?.invalid && getRegisterEmail?.touched">
                    <div *ngIf="getRegisterEmail?.value === '' else eMailInvalid" class="alert alert-danger">E-Mail must be set!</div>
                    <ng-template #eMailInvalid>
                        <div *ngIf="getRegisterEmail?.errors?.['email']" class="alert alert-danger">E-Mail must be a valid E-Mail!</div>
                    </ng-template>
                </div>
            </div>
            <div class="formElement">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" formControlName="password"
                       placeholder="Password">
                <div *ngIf="getRegisterPassword?.invalid && getRegisterPassword?.touched">
                    <div *ngIf="getRegisterPassword?.value === ''" class="alert alert-danger">Password must be set!</div>
                </div>
            </div>
            <div class="formElement">
                <label for="passwordConfirm">Confirm Password</label>
                <input class="form-control" id="passwordConfirm" type="password" formControlName="passwordConfirm"
                       placeholder="Confirm Password">
                <div *ngIf="getRegisterPasswordConfirm?.invalid && getRegisterPasswordConfirm?.touched">
                    <div *ngIf="getRegisterPasswordConfirm?.value === ''" class="alert alert-danger">Confirm Password must be set!</div>
                </div>
                <div *ngIf="this.getRegisterPasswordConfirm?.value !== '' && this.getRegisterPassword?.value !== '' && this.registerForm?.errors?.['passwordsDiffer']" class="alert alert-danger">
                    Password and Confirm Password have to be the same!
                </div>
            </div>
            <div class="buttonContainer">
                <button [disabled]="!registerForm.valid" class="btn btn-success">Register</button>
            </div>
        </form>
        <ng-template #registerTemplate>
            <form [formGroup]="loginForm" class="forms" (ngSubmit)="logInSignUp()">
                <div class="formElement">
                    <label for="login_email">E-Mail</label>
                    <input class="form-control" id="login_email" formControlName="eMail" placeholder="E-Mail">
                </div>
                <div class="formElement">
                    <label for="login_password">Password</label>
                    <input class="form-control" id="login_password" type="password" formControlName="password"
                           placeholder="Password">
                </div>
                <div class="buttonContainer">
                    <button [disabled]="!loginForm.valid" class="btn btn-success">Login</button>
                </div>
            </form>
        </ng-template>

    </div>


</div>

